<!-- This is the file for item decription -->
<!DOCTYPE html>
<html lang="en-US"> 

    <head>
        <title>Pulaskizon</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>

<body>
  <%- include("layouts/header") -%>
  <%- include("layouts/menu") -%>
  <main>
    <div class="content">
      <div class="itemdesc">
     <h1><%= items[0].text %></h1>
     <h2>$<%= items[0].price %></h2>
     <p ><img class="imgsearch"src="data:image/<%=items[0].img.contentType%>;base64,
      <%=items[0].img.data.toString('base64')%>" alt="ship" /></p>
      <p>Item Posted By: <%= items[0].creator.username %></p>
     <p><%= items[0].desc %></p>
    <form action="/contact" method="post">
      <input name="_id" type="hidden" value="<%= items[0]._id %>" />
        <input type="submit"  class="button btn btn-success" value="Contact Seller"> 
      </form>
      </div>
    </div>
</main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
</body>

</html>